<!DOCTYPE html>

<html>
    <head>
        <title>overthere</title>

        <meta name="description" content="it's over there">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            body {
                text-align: center;
                background-color: #eee;
            }
            h1 {
                font-size: 50px;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h1>overthere</h1>
        <p>whoever sent you this wants you to use these links</p>
    </body>
</html>
